<!-- dashboard sidebar  -->
<div class="container pt-5 dash-sidebar">
    <div class="row">
        <div class="col-lg-3">
            <div>
                <ul>
                    <li class="fs-5">
                        <a href="/admin/dashboard" class="text-decoration-none text-black d-block px-2 py-1">Dashboard</a>
                    </li>
                    <li class="fs-5">
                        <a href="/admin/blogdisplay" class="text-decoration-none text-black d-block px-2 py-1">Blogs</a>
                    </li>
                    <li class="fs-5">
                        <a href="/admin/categorydisplay" class="text-decoration-none text-black d-block px-2 py-1">Categories</a>
                    </li>
                    <li class="fs-5">
                        <a href="/admin/contactdisplay" class="text-decoration-none text-black d-block px-2 py-1">Contacts</a>
                    </li>
                    <li class="fs-5">
                        <a href="/admin/aboutdisplay" class="text-decoration-none text-black d-block px-2 py-1">About</a>
                    </li>
                    <li class="fs-5">
                        <a href="/logout" class="text-decoration-none text-black d-block px-2 py-1">Logout</a>
                    </li>
                </ul>
            </div>
        </div>