<%- include('./layout/header.ejs') %>

<div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 500px;">
        <h2 class="fw-lighter" style="font-size: 35px;">We are sorry, the page you requested cannot be found.</h2>
        <p class="fw-lighter mt-2" style="font-size: 20px;">The URL may be misspelled or the page you're looking for is no longer available.</p>
    </div>
</div>

<%- include('./layout/footer.ejs') %>